@model Malyshev_Project.Models.Store

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Details</title>
</head>
<body>

	<div>
		<h4>Store</h4>
		<hr />
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Address)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Address.City)
			</dd>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Address.Street)
			</dd>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Address.Building)
			</dd>
			@foreach (var sp in Model.StoresProducts)
			{
				<dd class="col-sm-2">
					@sp.Product.Name | @sp.CountOfProduct
				</dd>
			}
		</dl>
	</div>
	<div>
		<a asp-action="Edit" asp-route-id="@Model?.IdStore">Edit</a> |
		<a asp-action="List">Back to List</a>
	</div>
</body>
</html>
