@model IEnumerable<Malyshev_Project.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROteinZone - Пользователи</title>
    <link rel="shortcut icon" href="~/img/icon/icon_logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/css_admin/product.css" />
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Product" asp-action="List" asp-area="Admin">Товары</a></li>
                <li><a asp-controller="Order" asp-action="List" asp-area="Admin">Заказы</a></li>
                <li><a asp-controller="Review" asp-action="List" asp-area="Admin">Отзывы</a></li>
                <li><a asp-controller="Store" asp-action="List" asp-area="Admin">Магазины</a></li>
                <li class="active"><a asp-controller="User" asp-action="List" asp-area="Admin">Пользователи</a></li>
                <li class="back-btn">
                    <a asp-controller="Home" asp-action="Index" asp-area="">Вернуться</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="header-line"></div>

    <img src="~/img/vector/vector_basket1.png" class="vector-basket1" />

    <div class="breadcrumbs-search-container">
        <div class="breadcrumbs-container">
            <div class="breadcrumbs">
                <a asp-controller="Menu" asp-action="Index">Админ-панель</a>
                <span class="arrow"> > </span>
                <span class="current">Пользователи</span>
            </div>
        </div>
        <form method="get" class="search-container">
            <div class="search-box">
                <div class="search-row">
                    <label for="search-input">Введите логин:</label>
                    <input type="text" id="search-input" name="userLogin" placeholder="Login"
                        value="@ViewData["Request"]" class="search-input" />
                    <button type="submit" class="search-btn">OK</button>
                </div>
            </div>
        </form>
    </div>

    <div class="products">
        @foreach (var item in Model)
        {
            <div class="product-card">
                <a asp-action="Details" asp-route-id="@item.IdUser" class="product-link">
                    <img src="@item.Photo" alt="Фото пользователя @item.Login" class="product-image" />
                    <p><strong>ID:</strong> @item.IdUser</p>
                    <p><strong>Логин:</strong> @item.Login</p>
                    <p><strong>ФИО:</strong> @item.Surname @item.Name @item.Patronymic</p>
                    <p><strong>Пол:</strong> @item.Gender</p>
                    <p><strong>Почта:</strong> @item.Email</p>
                    <p><strong>Телефон:</strong> @item.Telephone</p>
                    <p><strong>Роль:</strong> @item.Role?.Name</p>
                </a>

                <div class="card-buttons">
                    <a asp-action="Details" asp-route-id="@item.IdUser" class="btn edit-btn">Открыть профиль</a>
                    <a asp-action="Delete" asp-route-id="@item.IdUser" class="btn delete-btn">Удалить</a>
                </div>
            </div>
        }
    </div>

</body>

</html>
