@model CreateProductModel

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Create</title>
</head>
<body>

	<h4>Product</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Photo" class="control-label"></label>
					<input asp-for="Photo" class="form-control" />
					<span asp-validation-for="Photo" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Description" class="control-label"></label>
					<input asp-for="Description" class="form-control" />
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Price" class="control-label"></label>
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Volume" class="control-label"></label>
					<input asp-for="Volume" class="form-control" />
					<span asp-validation-for="Volume" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Category" class="control-label"></label>
					<select asp-for="Category" class="form-control">
						@foreach (var category in Model.Categories)
						{
							<option value="@category.IdCategory" selected="@(category.IdCategory == @Model.Category!.IdCategory)">@category.Name</option>
						}
					</select>
				</div>
				<div class="form-group">
					<label asp-for="Brand" class="control-label"></label>
					<select asp-for="Brand" class="form-control">
						@foreach (var brand in Model.Brands)
						{
							<option value="@brand.IdBrand">@brand.Name</option>
						}
					</select>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="List">Back to List</a>
	</div>

	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
</body>
</html>
