@model Malyshev_Project.Models.EditProductModel; 


@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Edit</title>
</head>
<body>

	<h4>Product</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-controller="Product" asp-action="Edit" method="post">
				<input type="hidden" asp-for="Product.IdProduct" value="@Model.Product.IdProduct" />
				<div class="form-group">
					<label asp-for="Product.Name" class="control-label"></label>
					<input asp-for="Product.Name" class="form-control" />
				</div>
				<div class="form-group">
					<label asp-for="Product.Photo" class="control-label"></label>
					<input asp-for="Product.Photo" class="form-control" />
				</div>
				<div class="form-group">
					<label asp-for="Product.Description" class="control-label"></label>
					<input asp-for="Product.Description" class="form-control" />
				</div>
				<div class="form-group">
					<label asp-for="Product.Price" class="control-label"></label>
					<input asp-for="Product.Price" class="form-control" />
				</div>
				<div class="form-group">
					<label asp-for="Product.Volume" class="control-label"></label>
					<input asp-for="Product.Volume" class="form-control" />
				</div>
				<div class="form-group">
					<label asp-for="Product.CategoryId" class="control-label">Category</label>
					<select asp-for="Product.CategoryId" class="form-control">
						@foreach (var category in Model.Categories)
						{
							<option value="@category.IdCategory" selected="@(category.IdCategory == @Model.Product.CategoryId)">@category.Name</option>
						}
					</select>
				</div>
				<div class="form-group">
					<label asp-for="Product.BrandId" class="control-label">Brand</label>
					<select asp-for="Product.BrandId" class="form-control">
						@foreach (var brand in Model.Brands)
						{
							<option value="@brand.IdBrand" selected="@(brand.IdBrand == @Model.Product.BrandId)">@brand.Name</option>
						}
					</select>
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="List">Back to List</a>
	</div>

	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}
</body>
</html>
